.weather-container {
    position: absolute;
    width: 50%;
    transform: translate(-50%);
    left: 50%;
    top: 10%;

    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;

    background-color: white;
    opacity: 80%;
    color: black;
}

.current-location {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.current-temperature {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.row-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.current-time {
    flex: 1;
    text-align: left;
    font-size: 1rem;
}

.current-condition {
    flex: 1;
    text-align: right;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.current-condition img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-color: grey;
}

.current-wind {
    flex: 1;
    text-align: left;
    font-size: 1rem;
}

.current-humidity {
    flex: 1;
    text-align: right;
    font-size: 1rem;
}

.forecast-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.forecast-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.forecast-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.forecast-box h1 {
    font-size: 1rem;
    font-weight: 500;
}

.favorite-button {
    position: absolute;
    visibility: hidden;
}

.favorite-button-image {
    position: absolute;
    top: 20px;
    right: 20px;

    margin: 10px;
    height: 30px;

    transform: translate(50%, -50%);
    transition-duration: 0.5s;
}

.favorite-button-image:hover {
    height: 35px;
}

.days-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    overflow-x: auto;
    gap: 5px;
  }
  
  .day-name {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: balck;
    text-align: center;
    margin-bottom: 8px;
  }
  
  .forecast-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80px;
    height: 100px;
    padding: 10px;
    background-color: #ffffff; 
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .forecast-box:hover {
    background-color: #e0f7ff;
    transform: scale(1.05);
  }
  